/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.custom-dialog-container .mat-dialog-container {
    padding: 1rem 0;
}

.custom-menu-container .mat-menu-content {
    background-color: rebeccapurple;
}