<h2 class="pad-left" style="margin: 8px 0px;">Customers</h2>

<!-- <div class="btn-box">
    <button mat-fab color="primary">
        <mat-icon>add</mat-icon>
    </button>
</div> -->

<mat-nav-list>
    <a mat-list-item routerLink="{{c._id}}" *ngFor="let c of customers;">
        <div class="list-container">
            <div class="fx-grow-3" id="c-detail">
                <h3>{{c.name}}</h3>
                <p>{{c.phone}}</p>
            </div>
            <div class="fx-grow-1" id="c-status">
                <mat-icon>tag_faces</mat-icon>
            </div>
            <div class="fx-grow-1" id="c-count">
                <span>{{ c.records.length }}</span>
            </div>
        </div>
        <mat-divider></mat-divider>
    </a>
</mat-nav-list>