<div class="container">
    <div class="title-container">
        <h2 mat-dialog-title>Edit Customer Information</h2>
        <!-- <button mat-fab-mini-button>
                <mat-icon>clear</mat-icon>
            </button> -->
    </div>
    <form #customerForm="ngForm">
        <mat-form-field floatLabel=" always" appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput type="text" required placeholder="Enter your name" name="name" [(ngModel)]="data.name">
        </mat-form-field>

        <mat-form-field floatLabel="always" appearance="standard">
            <mat-label>Contact</mat-label>
            <input matInput type="tel" required placeholder="Enter your mobile number" name="phone"
                [(ngModel)]="data.phone" #phone="ngModel" [class.is-invalid]="phone.invalid" pattern="^\d{8}$">
        </mat-form-field>

        <div class="box-2">
            <mat-form-field floatLabel="always" appearance="standard">
                <mat-label>Height (cm)</mat-label>
                <input matInput type="number" required placeholder="Enter your height" name="height"
                    [(ngModel)]="data.height">
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="standard">
                <mat-label>Birth Year</mat-label>
                <input matInput type="number" placeholder="Enter your birth year" name="birthyear"
                    [(ngModel)]="data.birth_year">
            </mat-form-field>
        </div>

        <div class="form-field box-2">
            <mat-label>Gender</mat-label>
            <mat-radio-group name="gender" [(ngModel)]="data.gender">
                <mat-radio-button value="male" checked>Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="btn-box">
            <button class="btn-submit" mat-raised-button color="primary" (click)="updateForm(customerForm)"
                [disabled]="customerForm.invalid">Update</button>
        </div>

        <div class="btn-box">
            <button class="btn-submit reset" mat-button type="reset">Reset</button>
        </div>

        <div class="spacer"></div>
        <div class="btn-box">
            <button class="btn-submit" mat-button color="warn" type="button" (click)="delete()">Delete</button>
        </div>
    </form>
</div>